<div style="float: block; text-align: center; line-height: 1.7em">
    <span style="font-size: 2em; font-weight: bold"> Fatigue-Sleepiness in Irregular Workloads for Pilots </span><br>
    <span style="font-size: 1.5em"> Exploratory Data Analysis </span><br>
</div>

---

# 1. Loading Required Libraries and Data

In [1]:
import os as os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 1.1. Loading data

In [2]:
file = os.path.join('data/processed_features.csv')
df = pd.read_csv(file)
df.head(5)

,Id,kss,sps,quest_fill_hour,workload_moment,workload_type,workload_type_prev_es,workload_type_prev_nt,workload_length,sleep_duration,...,Position,Num_Sons,Flight_hours,Education,Marital_status,Time_displacement,Classification,Disturbed_sleep,Awakening,Sleep_Fatig
0,P01,5,4.0,AFT,start,others,0,0,8.883333,8.383333,...,CMTE,2,17000.0,PHD,MARRIED,60,INT,13,9,14
1,P01,5,5.0,EVE,middle,others,0,0,8.900000,8.383333,...,CMTE,2,17000.0,PHD,MARRIED,60,INT,13,9,14
2,P01,7,6.0,NI,end,others,0,0,8.916667,8.383333,...,CMTE,2,17000.0,PHD,MARRIED,60,INT,13,9,14
3,P01,7,5.0,NI,start,early-start,0,0,5.450000,7.200000,...,CMTE,2,17000.0,PHD,MARRIED,60,INT,13,9,14
4,P01,4,3.0,MOR,middle,early-start,0,0,5.466667,7.200000,...,CMTE,2,17000.0,PHD,MARRIED,60,INT,13,9,14

---

# 2. Response Variables or Targets

The aim of this work is to quantify sleepiness and fatigue in pilots. So, this problem presents us two response or target variable, Karolinska Sleepiness Scale (kss) and Sam-Perelli fatigue Scale(sps). Both variables are obtained through the use of questionnaries filled in either start, middle and end of workload or duty periods. The tables shown bellow give us what the scales mean.

* **Karolinska Sleepiness Scale (kss)**

| Scale | Original meaning as in questionnary (Portuguese) | English Translation |
| --- | --- | --- |
| 1 | Muito Alerta | Extremely alert |
| 2 - 3 | Alerta | Alert |
| 4 - 5 | Nem sonolento, nem alerta | Nor sleepy, nor alert |
| 6 - 7 | Sonolento, mas consigo ficar acordado | Drowsy, but I can stay awake |
| 8 - 9 | Muito sonolento, brigando com o sono | Very drowsy, fighting with sleep |

* **Sam-Perelli Fatigue Scale (sps)**

| Scale | Original meaning as in questionnary (Portuguese) | English Translation |
| --- | --- | --- |
| 1 | Totalmente alerta, bem desperto, extremamente disposto | Fully alert, wide awake, extremely willing |
| 2 | Muito ativo, responsivo, mas nÃ£o em nÃ­vel mÃ¡ximo | Very active, responsive, but not at maximum level |
| 3 | Bem, relativamente revigorado | Well, relatively refreshed |
| 4 | Um pouco cansado, nÃ£o totalmente disposto | A little tired, not quite in the mood |
| 5 | Moderadamente cansado, enfraquecido | Moderately tired, weakened | 
| 6 | Muito cansado, com dificuldade de concentraÃ§Ã£o | Very tired, with difficulty concentrating |
| 7 | Completamente exausto, incapaz de trabalhar efetivamente | Completely exhausted, unable to work effectively |

## 2.2. Experimental Design

Both the sps and kss measurements were taken along three moments of the workloads (start, middle, end and in days-off) and these workloads moments can happen along the some moments along the day (EM, MOR, AFT, EVE, NI). So, the workload are crossed with the moments along the day. Thus, we propose, the following experimental design, depicted bellow:

| | EM | MOR | AFT | EVE | NI |
| --- | -- | --- | --- | --- | --- |
| start | | | | |
| middle | | | | |
| end | | | | |

The measurements were took irregularly, in other words, some participants filled the kss and sps more times than others and not necessarily in consecutive workloads.

## 2.3. Recategorization of Response Variables

Kss and sps scales consists of integer numbers ranging from 1 to 9 and 1 to 7 respectively, that cannot be taken as a continuous result, but as ordinal one. Thinking in terms of modelling it is simpler to reduce this result from 9 or 7 categories to 2 categories. Previous works using the same scales, but for railway workers, use the same approach, due to simplicity, assertiveness and easy interpretation of results.

In this approach we obtain the following:

* **Karolinska scale dichotomized ( Excessive Sleepiness indicator - kssd)**

| Scale Range | Meaning | New Value |
| --- | --- | --- |
| 1 - 6 | Normal | 0 |
| 7 - 9 | Excessive Sleepiness | 1 |

* **Sam-Perelli scale dichotomized (Severe Fatigue indicator - spsd)**

| Scale Range | Meaning | New Value |
| --- | --- | --- |
| 1 - 4 | Normal | 0 |
| 5 - 7 | Severe Fatigue | 1 |

In [3]:
# Applying the rule

df['kssd'] = df['kss'].apply(lambda x: 1 if x >= 7 else 0)
df['spsd'] = df['sps'].apply(lambda x: 1 if x >= 5 else 0)

## 2.4. Getting only working days

The measurements were taken in both workings days and days-off, so the data base were divided to analyze only working days and days off.

In [4]:
working_df = df[df['workload_moment'].isin(['start','middle','end'])]
working_df.head(5)

,Id,kss,sps,quest_fill_hour,workload_moment,workload_type,workload_type_prev_es,workload_type_prev_nt,workload_length,sleep_duration,...,Flight_hours,Education,Marital_status,Time_displacement,Classification,Disturbed_sleep,Awakening,Sleep_Fatig,kssd,spsd
0,P01,5,4.0,AFT,start,others,0,0,8.883333,8.383333,...,17000.0,PHD,MARRIED,60,INT,13,9,14,0,0
1,P01,5,5.0,EVE,middle,others,0,0,8.900000,8.383333,...,17000.0,PHD,MARRIED,60,INT,13,9,14,0,1
2,P01,7,6.0,NI,end,others,0,0,8.916667,8.383333,...,17000.0,PHD,MARRIED,60,INT,13,9,14,1,1
3,P01,7,5.0,NI,start,early-start,0,0,5.450000,7.200000,...,17000.0,PHD,MARRIED,60,INT,13,9,14,1,1
4,P01,4,3.0,MOR,middle,early-start,0,0,5.466667,7.200000,...,17000.0,PHD,MARRIED,60,INT,13,9,14,0,0

## 2.5. Occurrences of Excessive Sleepiness and Severe Fatigue

### 2.5.1. Function Display Side-by-side

In [5]:
from IPython.core.display import display, HTML

def display_side_by_side(dfs:list, captions:list):
    """Display tables side by side to save vertical space
    Input:
        dfs: list of pandas.DataFrame
        captions: list of table captions
    """
    output = ""
    combined = dict(zip(captions, dfs))
    for caption, df in combined.items():
        output += df.style.set_table_attributes("style='display:inline'").format(precision=2)\
                          .set_caption(caption)._repr_html_()
        output += "\xa0\xa0\xa0"
    display(HTML(output))

### 2.5.2. Workload Moment & Filling Time

In [6]:
# Workload Moment
x1 = pd.crosstab(working_df['kssd'], working_df['workload_moment'], rownames=['Sleepiness'], colnames=['Workload'], margins=True, normalize='columns')
x2 = pd.crosstab(working_df['spsd'], working_df['workload_moment'], rownames=['Fatigue'], colnames=['Workload'], margins=True, normalize='columns')

# Display
display_side_by_side( [x1,x2], ['(a) Workload Moment-Excessive Sleepiness', '(b) Workload Moment-Severe Fatigue'] )
print(''); print('')

# filling time
x1 = pd.crosstab(working_df['kssd'], working_df['quest_fill_hour'], rownames=['Sleepiness'], colnames=['Filling Time'], margins=True, normalize='columns')
x2 = pd.crosstab(working_df['spsd'], working_df['quest_fill_hour'], rownames=['Fatigue'], colnames=['Filling Time'], margins=True, normalize='columns')

# Display
display_side_by_side( [x1,x2], ['(c) Filling Time Excessive Sleepiness', '(d) Filling Time Severe Fatigue'] )
print(''); print('')

Contingencies tables between Excessive Sleepiness (a & c) and Severe Fatigue (b & d) with Workload Moment (a & b) and Filling Time (c & d) are shown above in terms of relative frequency. We can see the following patterns:

* Both excessive sleepiness and severe fatigue tend to be more frequently during the end of workload than in the middle or start;

* Both excessive sleepiness and severe fatigue tend to be more frequently during the NI (Night period, between 00:00 and 05:59) period than in oher periods;

* The severity of fatigue and excessiveness of sleepiness rises from start to the end of workload;

### 2.5.3 - Workload Types

In [8]:
# filling time
x1 = pd.crosstab(working_df['kssd'], working_df['workload_type'], rownames=['Sleepiness'], colnames=['workload_type'], margins=True, normalize='columns')
x2 = pd.crosstab(working_df['spsd'], working_df['workload_type'], rownames=['Fatigue'], colnames=['workload_type'], margins=True, normalize='columns')

# Display
print(''); print('')
display_side_by_side( [x1,x2], ['(a) Workload Type Excessive Sleepiness', '(d) Workload Type Severe Fatigue'] )
print(''); print('')

The table above shows contingencies tables between excessive sleepiness (a) and severe fatigue (b) with workload types. The following patterns can be seen:

* Night routines (Workloads comprehending the night period or between 00:00 and 05:59), presents the greater frequency of both, excessive sleepiness and severe fatigue;

* In terms of occurrence of excessiveness of slepiness, no diffeerences is found between early-start and others modalities;

* However, for occurrence of severity of fatigue, early-start (workloads comprehending early-start period or between 06:00 and 07:59) routine have the small relative frequency of occurrence.

### 2.5.4. Previous Workload Types

In [10]:
# filling time
x1 = pd.crosstab(working_df['kssd'], working_df['workload_type_prev_es'], rownames=['Sleepiness'], colnames=['workload_type'], margins=True, normalize='columns')
x2 = pd.crosstab(working_df['spsd'], working_df['workload_type_prev_es'], rownames=['Fatigue'], colnames=['workload_type'], margins=True, normalize='columns')

# Display
print(''); print('')
display_side_by_side( [x1,x2], ['(a) Previous ES Excessive Sleepiness', '(b) Previous ES Type Severe Fatigue'] )
print(''); print('')

# filling time
x1 = pd.crosstab(working_df['kssd'], working_df['workload_type_prev_nt'], rownames=['Sleepiness'], colnames=['workload_type'], margins=True, normalize='columns')
x2 = pd.crosstab(working_df['spsd'], working_df['workload_type_prev_nt'], rownames=['Fatigue'], colnames=['workload_type'], margins=True, normalize='columns')

# Display
display_side_by_side( [x1,x2], ['(c) Previous NT Excessive Sleepiness', '(d) Previous NT Type Severe Fatigue'] )
print(''); print('')

* For previous Early-Start modality (a & b) we not found relative frequencies for excessive sleepiness or sever fatigue that are above non previous early-start modality (0);

* For previous Night modality (c & d), we found that for workloads preceded by one previous night (1) workloads the relative frequency of excessive sleepiness and severe fatigue are greater than non previos night modality (0).

In [77]:
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
from statsmodels.stats.anova import AnovaRM

import statsmodels.api as sm
import statsmodels.formula.api as smf

md = smf.mixedlm("kss ~ quest_fill_hour * workload_moment", working_df, groups=working_df["Id"])
mdf = md.fit()
print(mdf.summary())

                           Mixed Linear Model Regression Results
===========================================================================================
Model:                         MixedLM            Dependent Variable:            kss
No. Observations:              1079               Method:                        REML
No. Groups:                    48                 Scale:                         2.4511
Min. group size:               2                  Log-Likelihood:                -2062.1515
Max. group size:               39                 Converged:                     Yes
Mean group size:               22.5
-------------------------------------------------------------------------------------------
                                                 Coef.  Std.Err.   z    P>|z| [0.025 0.975]
-------------------------------------------------------------------------------------------
Intercept                                         4.730    0.184 25.768 0.000  4.370  5.089
quest_fill_hour[T.EM]                             1.434    0.422  3.398 0.001  0.607  2.261
quest_fill_hour[T.EVE]                            0.481    0.206  2.329 0.020  0.076  0.886
quest_fill_hour[T.MOR]                            0.912    0.246  3.709 0.000  0.430  1.393
quest_fill_hour[T.NI]                             2.044    0.252  8.109 0.000  1.550  2.538
workload_moment[T.middle]                        -1.415    0.222 -6.379 0.000 -1.850 -0.981
workload_moment[T.start]                         -1.485    0.229 -6.488 0.000 -1.934 -1.037
quest_fill_hour[T.EM]:workload_moment[T.middle]  -0.585    0.550 -1.063 0.288 -1.664  0.494
quest_fill_hour[T.EVE]:workload_moment[T.middle]  0.503    0.328  1.533 0.125 -0.140  1.147
quest_fill_hour[T.MOR]:workload_moment[T.middle] -0.082    0.345 -0.237 0.812 -0.757  0.594
quest_fill_hour[T.NI]:workload_moment[T.middle]   0.503    0.423  1.188 0.235 -0.327  1.332
quest_fill_hour[T.EM]:workload_moment[T.start]   -1.174    0.509 -2.309 0.021 -2.171 -0.178
quest_fill_hour[T.EVE]:workload_moment[T.start]  -0.173    0.346 -0.498 0.618 -0.851  0.506
quest_fill_hour[T.MOR]:workload_moment[T.start]  -1.371    0.363 -3.780 0.000 -2.082 -0.660
quest_fill_hour[T.NI]:workload_moment[T.start]   -0.948    0.349 -2.719 0.007 -1.631 -0.265
Group Var                                         0.680    0.112
===========================================================================================

In [81]:
# working_df.loc[working_df['workload_moment'].isin(['middle','start']), 'workload_moment'] = 'Aother'

md = smf.mixedlm("kss ~ quest_fill_hour + workload_moment", working_df, groups=working_df["Id"])
mdf = md.fit()
print(mdf.summary())

                Mixed Linear Model Regression Results
=====================================================================
Model:                 MixedLM     Dependent Variable:     kss
No. Observations:      1079        Method:                 REML
No. Groups:            48          Scale:                  2.4966
Min. group size:       2           Log-Likelihood:         -2074.7298
Max. group size:       39          Converged:              Yes
Mean group size:       22.5
---------------------------------------------------------------------
                          Coef.  Std.Err.    z    P>|z| [0.025 0.975]
---------------------------------------------------------------------
Intercept                  4.867    0.164  29.668 0.000  4.546  5.189
quest_fill_hour[T.EM]      0.791    0.190   4.175 0.000  0.420  1.163
quest_fill_hour[T.EVE]     0.533    0.142   3.748 0.000  0.254  0.812
quest_fill_hour[T.MOR]     0.459    0.143   3.206 0.001  0.178  0.739
quest_fill_hour[T.NI]      1.750    0.150  11.674 0.000  1.457  2.044
workload_moment[T.middle] -1.243    0.124 -10.018 0.000 -1.486 -1.000
workload_moment[T.start]  -2.106    0.119 -17.738 0.000 -2.338 -1.873
Group Var                  0.694    0.113
=====================================================================

ok
ERROR! Session/line number was not unique in database. History logging moved to new session 312